<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.10/vue.min.js"></script>

<div id="app1" >

        <com1 v-for="item in items" v-bind:msg="item"></com1>


</div>

</body>

<script>

    Vue.component('com1',{
        props: ['msg'],
        template: '<li>{{msg}}</li>'
    });

    var app= new Vue({
      el: "#app1",
      data: {
          items: ["hello","my","first","vue"]
      },
    })
</script>


</html>